@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

// Variables
$primary:			#47b3ff;
$secondary:			#093a6b;

html, body {
	font-family: 'Quicksand', sans-serif;
	padding: 0;
	margin: 0;
	height: 100vh;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: #444;
}
h1 {
	margin: 3rem 0;
	
	span {
		padding-left: 2rem;
		border-bottom: 3px solid $primary;
	}
}

.wrapper {
	width: 850px;
	max-width: 90%;
	padding: 0;
	margin: 0 auto;
}
.clearfix {
	&::after {
		content: '';
		height: 0;
		clear: both;
		display: block;
	}
}
.center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

input[type="text"],input[type="number"],input[type="email"],input[type="password"], textarea {
    padding: 0.6rem;
    border-radius: 4px;
    border: 1px solid #eee;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    transition: 0.2s all ease-in-out;
    min-width: 200px;

    margin: 0.4rem 0;

    &:focus {
    	outline: none;
    	border-color: $primary;
    }
}
button, input[type="submit"], input[type="button"] {
	padding: 0.6rem 2rem;
    border-radius: 4px;
    border: 1px solid #0d78c3;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    background: $primary;
    color: #fff;
    transition: 0.2s all ease-in-out;

    margin: 0.4rem 0;

    &:focus {
    	outline: none;
    	border-color: #2c3338;
    }
}

nav.main {
	display: block;
	border-bottom: 3px solid $primary;
	padding: 1rem;
	box-shadow: 0 1px 10px 3px rgba(0,0,0,0.1);

	.main-logo {
		padding: 0.4rem 0.8rem;
		float: left;

		img {
			height: 3rem;
			vertical-align: middle;
			margin-right: 0.8rem;
		}

		&>a>span {
			color: $secondary;
			vertical-align: middle;
			font-size: 135%;

			&>span {
				color: $primary;
			}
		}
	}

	div.top-nav {
		float: right;
		width: 40%;
	}

	ul.top-nav {
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
			padding: 0.4rem 0.8rem;
			border: 1px solid transparent;
			border-radius: 5px;

			a {
				color: $secondary;
			}

			&.active {
				border-color: $primary;

				a {
					color: $primary;
				}
			}
		}
	}
}

article.main {
	margin: 2rem 0;
	min-height: 50vh;
}

footer.main {
	background: #fdfdfd;
	color: #bbb4b4;
	padding: 4rem 0;
	border-top: 1px dashed #eee;
	text-align: center;
}

.auth-box {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	border: 2px solid #47b3ff;
	border-radius: 4px;
	padding: 1rem;
}

.wide-input {
	input, textarea {
		width: 500px;
		max-width: 100%;
	}
}

ul.user-list {
	border: 1px solid #ccc;
	display: inline-block;
	max-width: 100%;
	width: 500px;
	padding: 0;

	li {
		padding: 0.7rem 0.7rem;
		list-style-type: none;
	}
}

ul.hover-list {
	li {
		&:hover {
			background: #f4f4f4;
		}
	}
}