@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

// Variables
$primary:			#337aaf;
$secondary:			#000000;

html, body {
	font-family: 'Quicksand', sans-serif;
	padding: 0;
	margin: 0;
	height: 100vh;
	background-color: #fff;

	color: #444;
}

a {
	text-decoration: none;
	color: $primary;
}

h1 {
	font-size: 1.9em;
	font-weight: normal;
	margin: 1.8rem 0 1.6rem 1.2rem;
}
h2 {
	font-weight: normal;
	color: #777;
	margin: 1.6rem 0 1.0rem 1.4rem;
}
h3 {
	margin: 1rem 1.4rem;
	font-weight: normal;
	color: #777;
}

.primary-color {
	color: $primary !important;
}

.wrapper {
	margin:auto;
	padding: 0 1rem;
	width: 720px;
	max-width: 90%
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}



////////////////////////////////////////////////////////////////////////////////
// 									GLOBAL
////////////////////////////////////////////////////////////////////////////////


//
// Top Section
//

.top-section {
	background-color: #47b3ff;
    background-image: linear-gradient(120deg, #093a6b, #47b3ff);
    color: #fff;
}

//
// Main Header
//

.main-header {
	.wrapper {
		// border-bottom: 1px solid #d9d9d9;
	}
}

.main-header--cols {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;

	.main-logo--container {
		margin: auto;
		flex-grow: 1;
		font-weight: bold;

		color: #ff8a8a;
		font-size: 1.4rem;

		&>span {
			font-weight: normal;
			color: #fff;
		}
	}

	.main-nav--container {
		margin: auto;
		flex-grow: 2;
		text-align: center;
	}
}

//
// Main Navigation
//

ul.main-nav {
	padding: 0;
	width: 75%;

	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;

	li {
		list-style-type: none;
		display: inline-block;

		a {
			color: #fff;
		}

		&.active a {
			font-weight: bold
		}
	}
}


//
// Footer
//

footer.main-footer {
	text-align: center;
	padding: 4rem 0;
}




////////////////////////////////////////////////////////////////////////////////
// 									CONTENT
////////////////////////////////////////////////////////////////////////////////

.intro {
	text-align: center;
	padding: 2.5em 0;

	h1 {
		font-size: 1.6em;
	}
	h2 {
		font-size: 1.3em;
		font-style: italic;
		font-weight: normal;
		color: #d2d2d2;
	}
	h3 {
		font-size: 1.1em;
		margin-top: 3rem;

		a {
			color: #89c3ef;
		}
	}
}

//
// Lists
//

ul.resource-list {
	border: 1px solid #ccc;
	display: inline-block;
	max-width: 100%;
	width: 500px;
	padding: 0;

	li {
		padding: 0.7rem 0.7rem;
		list-style-type: none;

		&:not(:last-child) {
			border-bottom: 1px solid #ccc;
		}
	}
}

ul.hover-list {
	li {
		&:hover {
			background: #f7f7f7;
		}
	}
}
